---
layout: default
---
<div class="top-strip">
</div>
<main class="content">
    <section class="container">
        <div class="row-fluid">
            <article class="post">
                <h2 class="content">
                    {{page.title}}
                </h2>
                <section>
                    {{ content }}
                    <hr>
                    </hr>
                </section>
                <section style="font-weight:bold; margin-bottom: 2em;">
                    {% if page.previous %}
                    <a class="a-hover" href="{{ page.previous.url }}" rel="prev">
                        s
                        <i class="icon-double-angle-left">
                        </i>
                        {{ page.previous.title }}
                    </a>
                    {% endif %}
						{% if page.next %}
                    <a class="a-hover" href="{{ page.next.url }}" rel="next" style="float:right">
                        {{ page.next.title }}
                        <i class=" icon-double-angle-right">
                        </i>
                    </a>
                    {% endif %}
                </section>
            </article>
        </div>
    </section>
</main>
